{% extends 'base.html' %}
{% load static %}
{% block main_content %}

<style>
    .button_1{
        background: black;
    }
    .mehta{
        color: white;
    }
    .mehta:hover{
        color: white;
    }
    .button_1:hover{
        cursor: not-allowed;
    }

    .button_2{
        background: rgb(15, 116, 217);
        outline: none;
    }
    .button_2:hover{
        cursor: not-allowed;
    }
    .mehta_1{
        color: white;
    }
    .mehta_1:hover{
        color: white;
        cursor: pointer;
    }
</style>

<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
                    <img class="img-fluid" src="{% static 'assets/img/login.png' %}" alt="Logo">
                </div>
                <div class="login-right">
                    <div class="login-right-wrap">
                        <h1>Forgot Password</h1>
                        <p class="account-subtitle">Enter Your Email For Forgot Password</p>

                        <form method="post" action="{% url 'forgot_password' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label> Email <span class="login-danger">*</span></label>
                                <input class="form-control pass-input" type="email" name="email" required>
                                <span class="profile-views toggle-password"></span>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary btn-block" type="submit">Submit</button>
                            </div>
                            <div class="row">
                                <div class="form-group mb-0 col-6">
                                    <button class="btn btn-dark primary-reset btn-block button_1" type="submit"><a class="mehta" href="{% url 'signin_page' %}">Signin</button></a>
                                </div>
                                <div class="form-group mb-0 col-6">
                                    <button class="btn btn-primary primary-reset btn-block button_2" type="submit"><a class="mehta_1" href="{% url 'signup_page' %}">Signup</button></a>
                                </div>
                            </div>
                            
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}